<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button *ngIf="bkButton" slot="start" defaultHref="/" icon="../../../assets/icon/flecha-back.svg"  text=""></ion-back-button>
    <!--<ng-content></ng-content>
    <ion-img *ngIf="bkButton" slot="end" class="ion-margin-end" style="width: 160px;" src="../../../../assets/img/letras.svg"></ion-img>-->
  </ion-toolbar>
</ion-header>

<style>
  
  ion-toolbar {
    --opacity: 0;
    padding: 10px 10px;
  }

  ion-back-button {
    background: transparent;
    background-color: var(--ion-color-fourth-xcs);
    color: white;
    height: 50px;
    width: 50px;
    border: solid #000;
    border-radius: 5px;
  }

</style>