<app-header></app-header>

<ion-content fullscreen="true">

  <div style="margin: 10px 0px; text-align: center; padding-top: 30px;">
    <app-page-title [title]="title"></app-page-title>
  </div>

  <ion-card class="ion-padding ion-text-justify">
    <p>De conformidad con lo establecido en la Ley Federal de Protección de datos Personales en Posesión
      de los Particulares, (LFPDPPP) <b>AGREGADORA DE INTELIGENCIA EN NEGOCIOS TECNOLÓGICOS S.A. DE
        C.V</b> en adelante <b>ADDINTELI</b>, con domicilio en Laguna de Términos 221, Centro de Negocios Polanco,
      Piso 11 oficina 1104, Colonia Anáhuac, C.P 11320, CDMX, pone a su disposición el siguiente Aviso de
      Privacidad.
    </p>
    <p>
      <b>ADDINTELI</b>, es responsable del uso y protección de sus datos personales, en este sentido y atendiendo
      las obligaciones legales establecidas en la Ley Federal de Protección de datos Personales en Posesión
      de los Particulares (LFPDPPP), a través de este instrumento se informa a los titulares de los datos, la
      información que de ellos se recaba y los fines que se le dará a dicha información.
    </p>
    <p>
      Los datos personales que recabamos de usted serán utilizados para las siguientes finalidades, las
      cuales son necesarias para concretar nuestra relación con usted, así como atender los servicios que
      solicite.
    </p>
    <p>
      Para las finalidades establecidas en este Aviso de Privacidad, podemos obtener los datos personales
      que se mencionan a continuación:
    </p>
    <ul>
      <li>Nombre completo, fecha de nacimiento, domicilio, dirección de correo electrónico,
        número de teléfono, RFC para facturación, CURP y NIP (portabilidad). </li>
      <li>Datos de facturación: Razón social, correo electrónico, dirección de facturación
        (Referencia, Número exterior, número interior, código postal, municipio y ciudad).</li>
    </ul>
    <p>
      Con base en lo anterior, le señalamos que sus datos personales serán tratados de manera confidencial
      y utilizados, en su caso, para:
    </p>
    <ul>
      <li>Contactarlo.</li>
      <li>Gestión de contrataciones: altas, renovaciones y bajas.</li>
      <li>Registrarlo en el sistema de <b>ADDINTELI</b>, así como confirmar a través de su cuenta de
        correo electrónico que usted se encuentra registrado en nuestro sistema.</li>
      <li>Identificarlo para permitir su acceso como usuario del sistema.</li>
      <li>Cumplir con el objeto de la relación que ha dado origen al tratamiento de los datos
        personales, incluyendo sin limitar el prestarle los servicios que contratará con <b>ADDINTELI</b>.</li>
      <li>Hacerle saber, de acuerdo con este Aviso de Privacidad y categorías de información,
        sobre cambios que se realicen en los servicios que haya contratado, status de su cuenta,
        solicitudes de servicios y cualquier otro asunto relevante al sitio.</li>
      <li>Evaluar la calidad del servicio que se le brinda, a través de encuestas de satisfacción o
        cualquier otra actividad con fines promocionales.</li>
      <li>Informarle sobre cualquier cambio que se efectúe al presente Aviso; o para enviarle
        información relacionada con la prestación de nuestros servicios.</li>
      <li>Para realizar el servicio de portabilidad de número telefónico (SIM).</li>
    </ul>
    <p>
      En el caso de Datos Personales Sensibles los datos que se recabaran son:
    </p>
    <ul>
      <li>Datos bancarios para medios de pago: nombre del titular, número de tarjeta, fecha de
        expiración y código de seguridad.</li>
    </ul>
    <p>
      Con base en lo anterior, le señalamos que sus datos personales serán tratados de manera confidencial
      y utilizados, en su caso, para:
    </p>
    <ul>
      <li> Aclararles a nuestros clientes que los datos bancarios para pagos o medios de pago serán
        transferidos a un sitio web tercero, sin ningún tipo de retención de información del cliente.
      </li>
    </ul>
    <p>
      <b>ADDINTELI</b> no recopila información personal de los usuarios excepto cuando éstos dan dicha
      información voluntariamente al contratar o modificar sus servicios, o bien, registrándose dentro del
      sitio o enviando un correo electrónico o cualquier otro medio que <b>ADDINTELI</b> designe.
    </p>
    <p>
      La información obtenida acerca de usted será usada de acuerdo con los estándares establecidos por
      la Procuraduría Federal del Consumidor. Le pediremos únicamente la información que nos servirá
      para poder otorgarle el servicio solicitado. Su información personal no será almacenada por nosotros
      por más tiempo que el necesario para proveer el servicio o por más tiempo del que establece la ley.
      La confidencialidad y efectiva protección de dicha información es primordial para <b>ADDINTELI</b>, quien
      mantendrá una protección adecuada, de conformidad con los principios y obligaciones previstos por
      la LFPDPPP y demás normativa aplicable, a efecto de asegurar la seguridad, integridad y privacidad
      de la información de los usuarios; así mismo, <b>ADDINTELI</b> podrá transferir, sin requerir de su
      consentimiento, los datos personales necesarios a autoridades competentes en los casos legalmente
      previstos.
    </p>
    <p>
      Por otro parte, según lo previsto por la LFPDPPP usted tiene en todo momento el derecho a conocer
      que datos personales tenemos de usted, para que los utilizamos y las condiciones del uso que le
      damos (Acceso). Así mismo, es su derecho solicitar la corrección de su información personal en caso
      de que esté desactualizada, sea inexacta o incompleta (Rectificación); de igual manera, tiene derecho
      a que su información se elimine de nuestros registros o base de datos, cuando considere que la misma
      no está siendo utilizada adecuadamente (Cancelación); así como también a oponerse al uso de sus
      datos personales para fines específicos (Oposición). Estos derechos se conocen como Derechos
      ARCO. Para facilitarle el ejercicio de cualquiera de estos derechos, ponemos a su disposición nuestro
      correo electrónico legales@addinteli.mx en donde deberá presentar la solicitud respectiva y la misma
      deberá contener:
    </p>
    <ul>
      <li>Nombre y apellido del suscriptor</li>
      <li>Dirección completa</li>
      <li>Teléfono</li>
      <li>Correo Electrónico</li>
    </ul>
    <p>
      El tiempo de respuesta a su solicitud será de 15 días y se le comunicará a través del correo electrónico
      detallado en la solicitud.
    </p>
    <p>
      Cabe mencionar que en cualquier momento usted puede revocar su consentimiento para el uso de
      sus datos personales, pero deberá considerar que, para ciertos fines, la revocación de su
      consentimiento implicará que no podamos seguir prestando el servicio que nos solicitó, o la
      conclusión de su relación con nosotros.
    </p>
    <p>
      <b>ADDINTELI</b> se reserva el derecho de efectuar en cualquier momento, modificaciones o
      actualizaciones al presente Aviso de Privacidad. Cualquier cambio le será notificado a través del sitio
      web. Así mismo, usted podrá oponerse a los nuevos términos, previa modificación al tratamiento u
      obtención de su información enviando un correo electrónico a legales@addinteli.mx manifestándolo.
      En caso de que no manifieste su inconformidad en un plazo de 30 días una vez publicados los cambios,
      queda explícito que está de acuerdo en que sigamos utilizando tus datos personales.
    </p>
    <p>
      Usted acepta que ha leído los términos antes expuestos y acepta que utilicemos sus datos para los
      fines señalados en el presente documento.
    </p>
    <p>
      Última actualización: Mayo 2020.
    </p>
  </ion-card>
</ion-content>