<app-header></app-header>

<ion-content fullscreen="true">

  <div style="margin: 10px 0px; text-align: center; padding-top: 30px;">
    <app-page-title [title]="title"></app-page-title>
  </div>
  
  <ion-card class="ion-padding ion-text-justify">
    <h5><b>1. Relación Contractual</b></h5>
    <p>
      Las presentes condiciones, rigen el acceso y el uso que usted haga, desde cualquier parte del mundo, al
      sitio web y/o contenidos desarrollados, manejados y administrados, propiedad de Agregadora de
      Inteligencia en Negocios Tecnólogicos, S.A. de C.V. (En lo sucesivo “Addinteli”) y/o sus marcas,
      controladoras, licenciatarias, filiales o subsidiarias (En lo sucesivo “Plataforma”). Las Condiciones aquí
      detalladas son supletorias y complementarias a las disposiciones del contrato de prestación de servicios
      de “Addinteli” registrado ante la Procuraduría Federal del Consumidor (el “Contrato”) y al Código de
      Prácticas comerciales de “Addinteli”; por lo anterior, todos los instrumentos deberán interpretarse de
      forma sistemática.
    </p>
    <p>
      Las presentes Condiciones generan obligaciones entre el Usuario y “Addinteli” o sus filiales según el caso.
      Por ello, El usuario deberá de leer detenidamente su contenido antes de utilizar la “Plataforma”. Si el
      usuario no está de acuerdo con cualquiera de las condiciones o disposiciones establecidas en las
      presentes Condiciones, deberá abstenerse de utilizar la “Plataforma”, dar de baja su usuario o cuenta,
      según sea el caso
    </p>
    <p>
      El uso de la “Plataforma” implica la aceptación de:
    </p>
    <p>
      (i) los términos estipulados en el Contrato aplicable, el cual se encuentra disponible para su consulta en
      la siguiente página: https://www.addinteli.com.mx
    </p>
    <p>
      (ii) las presentes Condiciones y
    </p>
    <p>
      (iii) el Aviso de Privacidad de “Addinteli” (el “Aviso de Privacidad”), el cual se encuentra disponible para
      su consulta en el siguiente enlace: https://www.addinteli.com.mx
    </p>
    <p>
      Todas nuestras tarifas se encuentran debidamente registradas ante el Instituto Federal de
      Telecomunicaciones, el cual podrás consultar en la página: https://tarifas.ift.org.mx/ift_visor/
    </p>
    <p>
      “Addinteli” y/o sus filiales se reservan el derecho de cambiar, modificar y/o remplazar las presentes
      Condiciones en cualquier momento, al igual que sus planes de contratación, y sin necesidad de previo
      aviso y dichas modificaciones entrarán en vigor al día siguiente a aquél en que hayan sido publicadas en
      la “Plataforma”.
    </p>
    <p>
      El Usuario que actúe, de manera enunciativa más no limitativa con alevosía, ventaja, dolo, y/o mala fe al
      solicitar el servicio de telefonía y/o la adquisición de equipos, “será considerado como fraude” y se le
      suspenderá y cancelará su línea telefónica después de hacerle de su conocimiento al Cliente los motivos
      de la cancelación y en caso de ser necesario “Addinteli” y/o sus filiales podrán presentar cargos contra
      este. El acceso o uso continuo de la “Plataforma” después de que surtan efectos las modificaciones a
      que se hizo referencia anteriormente implica su consentimiento a vincularse y obligarse conforme a las
      nuevas Condiciones.
    </p>
    <p>
      Queda prohibido al usuario (i) violar la seguridad del sitio; (ii) causar saturación del sitio mediante
      “inundación” (flooding), “envío de correo no deseado” (spamming), “bombardeo de correos”
      (mailbombing) o “generación de fallas” (crashing), reconociendo el usuario que las violaciones del
      sistema de informática o de la seguridad de la red pueden causar responsabilidades civiles o penales.
    </p>
    <br>
    <h5><b>2. Condiciones de uso de la “Plataforma”</b></h5>
    <p>
      Para poder utilizar la “Plataforma”, el usuario debe de contar con edad y capacidad suficiente, de
      conformidad con la legislación que le resulte aplicable, a efecto de estar en posibilidad de obligarse
      conforme a las presentes Condiciones. Usted es responsable de adquirir y actualizar el hardware
      compatible o los dispositivos necesarios para acceder y utilizar los Servicios y/o Servicios Adicionales y/o
      la “Plataforma”. “Addinteli” no garantiza que los Servicios y/o Servicios Adicionales, o cualquier parte de
      estos, funcionen en cualquier hardware o dispositivo. Los Servicios y/o Servicios Adicionales pueden ser
      objeto de disfunciones o retrasos inherentes a incompatibilidades informáticas y la interacción con otras
      comunicaciones electrónicas. Usted se obliga a utilizar los Servicios y/o Servicios Adicionales de forma
      personal, en estricto apego a la legislación y regulación aplicable, así como a las buenas costumbres.
      “Addinteli” se reserva el derecho de retirar, negar o restringir el acceso a los Servicios y/o Servicios
      Adicionales por causa justificada y dando aviso al usuario de dichos motivos.
    </p>
    <br>
    <h5><b>3. Alcance de los Servicios y/o Servicios Adicionales</b></h5>
    <p>
      Los Servicios y/o Servicios Adicionales ofrecidos por “Addinteli” son bajo la modalidad de prepago, por lo
      tanto, el usuario debe pagar por anticipado el monto correspondiente al paquete contratado, para
      poder disfrutar del servicio. En caso contrario la línea será suspendida por falta de pago. Retomando este
      una vez realizado una nueva contratación de paquete o plan.
    </p>
    <p>
      Los Servicios y/o Servicios Adicionales son regidos, en lo principal, por el Contrato que usted celebre con
      “Addinteli”. A su vez, para la contratación de los Servicios y/o Servicios Adicionales, “Addinteli” pone a su
      disposición el siguiente procedimiento:
    </p>
    <ol>
      <li>Para contratar los Servicios y/o Servicios Adicionales de “Addinteli”, a través de la “Plataforma”, el
        usuario deberá identificar y seleccionar los Servicios y/o Servicios Adicionales que desea contrata.</li>
      <li>La “Plataforma” mostrará las características del servicio seleccionado.</li>
      <li>“Addinteli” verificará la disponibilidad de los Servicios y/o Servicios Adicionales en el área
        correspondiente a su código postal, así como la compatibilidad del dispositivo que usted pretende usar,
        con base en el Código IMEI de dicho dispositivo.</li>
      <li>El usuario al seleccionar la opción de pago acepta que se ha validado y revisando que el equipo se
        encuentra homologado con las redes disponibles para uso óptimo de nuestro servicio. En caso de no
        presentar homologación no será motivo de devolución.
        </li>
      <li> Una vez seleccionado el plan tarifario deberá ingresar sus datos bancarios y los datos de envío de la
        tarjeta SIM.
        </li>
      <li>La contratación de los Servicios y/o Servicios Adicionales, será perfeccionada por usted al momento
        de dar su consentimiento a través de la validación que haga vía correo electrónico y al realizar el pago
        respectivo.
        </li>
      <li> Realizada la compra “Addinteli” enviará al Usuario una confirmación vía correo electrónico indicando
        que su orden fue procesada con éxito e incluirá los detalles de la compra.</li>
    </ol>
    <p>
      “Addinteli” subcontrata el servicio de mensajería y paquetería, por lo que no se hace responsable por los
      tiempos de entrega de paquetería o algún tipo de retraso o percance con la entrega.
    </p>
    <p>
      Para todos los efectos legales, usted reconoce que las validaciones a que se hace referencia en los
      párrafos anteriores configuran una firma electrónica simple, válida para otorgar su consentimiento en los
      términos de la legislación aplicable. Independientemente del procedimiento de contratación, “Addinteli”
      puede válidamente asumir que su consentimiento fue inequívocamente otorgado a través de medios
      electrónicos, si en un plazo de 30 (treinta) días naturales después de haber hecho algún pago relacionado
      con los Servicios, Servicios Adicionales, así como la compraventa del equipo, en su caso, usted no
      presenta ningún tipo de queja o aclaración.
    </p>
    <p>
      Usted podrá contratar en cualquier momento Servicios Adicionales, para lo cual deberá pagar con
      anticipación los Servicios contratados anteriormente y con las obligaciones contraídas por virtud de la
      celebración del Contrato. De igual manera, usted podrá cambiar el plan tarifario contratado y contratar
      Servicios Adicionales distintos a través de cualquier medio que “Addinteli” habilite para tales efectos.
      Usted deberá realizar el pago en prepago de los Servicios y/o Servicios Adicionales a través de
      transferencia de fondos, mediante depósito, ingresando los datos de su tarjeta de crédito o débito a
      través de la “Plataforma”.
    </p>
    <h5><b>Pago en línea con Plataforma de pagos</b></h5>
    <p>
      Openpay (Openpay SAPI de CV) es la pasarela de pagos responsable del procesamiento de las
      transacciones con tarjetas, transferencia SPEI y pagos en tiendas de conveniencia.
    </p>
    <p>
      El pago a través de tarjetas de crédito o débito, es operado por terceros ajenos a “Addinteli”, por lo que
      “Addinteli” en ningún momento tiene acceso a ella, y por lo tanto no retendrá la información financiera
      de ningún usuario.
    </p>
    <p>
      El pago por la cuota de activación, Servicios Adicionales, o cualquier otro concepto por el que usted se
      haya obligado, podrá realizarse a través de cualquiera de los métodos de pago referidos en el párrafo
      anterior y establecidos en el Contrato.
    </p>
    <p>
      En caso de alguna falla en la prestación de los Servicios y/o Servicios Adicionales por causas directamente
      imputables a “Addinteli”, usted podrá solicitar el reembolso correspondiente de conformidad con el
      procedimiento detallado en la cláusula décima tercera y la cláusula décima cuarta del Contrato,
      además de la correspondiente bonificación, en su caso.
    </p>
    <p>
      De conformidad con la legislación aplicable, queda estrictamente prohibido al usuario de los Servicios
      y/o Servicios Adicionales de la “Plataforma” utilizar los mismos para cualquier fin ilícito. Asimismo, el
      suscriptor reconoce que los Servicios y/o Servicios Adicionales y/o la “Plataforma” pueden presentar fallas
      o disminuciones en la calidad debido a causas no imputables a “Addinteli”, como lo es el caso fortuito o
      fuerza mayor, así como por acciones realizadas por terceros independientes a “Addinteli”. Por lo anterior,
      “Addinteli” no se hace responsable de las afectaciones que podría tener usted debido a dichas fallas.
    </p>
    <br>
    <h5><b>4. Facturación</b></h5>
    <p>
      El usuario al realizar la compra de los Servicios y/o Servicios Adicionales de la “Plataforma” podrá solicitar
      la factura solo durante el mismo mes en que realizo la compra. Una vez realizado, validado y confirmado
      el pago, a través de la “Plataforma”, “Addinteli” emitirá la factura con base en la información
      considerada en el aviso de privacidad y en un 1 día hábil posterior a la solicitud.
    </p>
    <br>
    <h5><b>5. Liberación de responsabilidad</b></h5>
    <p>
      Al contratar los Servicios y/o Servicios Adicionales proporcionados por “Addinteli” y, a su vez, aceptar las
      presentes Condiciones, usted reconoce que el servicio de telecomunicaciones es un servicio
      concesionado y regulado por los Estados Unidos Mexicanos a través de la Secretaría de Comunicaciones
      y Transportes y por el Instituto Federal de Telecomunicaciones. Por ello, usted reconoce y libera a
      “Addinteli” y a sus filiales o subsidiarias de cualquier tipo de responsabilidad civil, mercantil, administrativa,
      laboral, penal, contractual, extracontractual o cualquier otra que pudiera surgir en virtud de alguna falla,
      suspensión, cancelación o interrupción en la prestación de los Servicios y/o Servicios Adicionales
      proporcionados por “Addinteli” por causas ajenas a éste, entre las que se encuentran de manera
      enunciativa más no limitativa: a. Causas de fuerza mayor y/o caso fortuito que puedan darse por
      cualquier hecho de la naturaleza o del hombre que sea imprevisible, o que, siendo previsible, éste sea
      inevitable. Dentro de esta categoría está incluido de manera enunciativa lo siguiente: terremotos,
      ciclones, tormentas, huracanes, lluvias tropicales, tornados, cualquier desastre natural, manifestaciones,
      huelgas, pandemias, endemias, contingencias sanitarias y/o guerras, entre otros. b. Revocación,
      cancelación, suspensión, terminación o de cualquier manera afectación de la concesión otorgada por
      el Instituto Federal de Telecomunicaciones para prestar los Servicios y/o Servicios Adicionales en términos
      de la legislación aplicable. c. Fallas o afectaciones físicas, mecánicas, eléctricas, digitales y/o
      tecnológicas a cualquiera de los medios a través de los cuales “Addinteli” presta los Servicios y/o Servicios
      Adicionales, de manera directa o indirecta, considerando que estos pueden ser o no propiedad de
      “Addinteli”. d. Incompatibilidades tecnológicas, presentes o futuras, en los dispositivos de comunicaciones
      en los que se utilicen los Servicios y/o Servicios Adicionales.
    </p>
    <br>
    <h5><b>6. Propiedad industrial / Intelectual</b></h5>
    <p>
      “Addinteli” es y seguirá siendo titular de los derechos de propiedad industrial e intelectual relacionados
      con (i) la denominación “Addinteli” y con cualquier signo distintivo, marca o denominación directa o
      indirectamente relacionados con la misma; así como con (ii) los elementos, ya sean físicos, electrónicos o
      digitales, que integran los Servicios proporcionados por “Addinteli”, así como su “Plataforma”, los cuales
      incluyen el software, código informático, interfaz visual y demás derechos relacionados. Usted se
      compromete a no vender, licenciar, distribuir, copiar, modificar, editar, adaptar, crear trabajos derivados
      o de otra manera hacer uso no autorizado del contenido de la “Plataforma”, sin autorización previa y por
      escrito de “Addinteli” y/o del titular de los derechos respectivos. De igual forma, usted deberá abstenerse
      de desarmar, descompilar, aplicar ingeniería inversa o de cualquier otro modo tratar de obtener acceso
      o comercializar el código fuente o los protocolos inherentes a la “Plataforma” o a los Servicios y/o Servicios
      Adicionales proporcionados por “Addinteli”.
    </p>
    <br>
    <h5><b>7. Privacidad de la información</b></h5>
    <p>
      “Addinteli” hace de su conocimiento que todos los datos personales que le sean proporcionados serán
      tratados de conformidad con lo dispuesto en el Aviso de Privacidad.
    </p>
    <br>
    <h5><b>8. Ideas no Solicitadas</b></h5>
    <p>
      “Addinteli” y/o sus filiales agradecen las sugerencias y comentarios que recibe acerca del uso de su Sitio
      Web, sus productos y servicios, “Addinteli” no acepta ni solicita a los usuarios, bajo ninguna circunstancia
      que estos le presenten ideas, sugerencias creativas o propuestas que no hayan sido solicitadas, con
      excepción de que “Addinteli” y sus filiales lo manifiesten explícitamente, todas las ideas, comentarios,
      sugerencias (de forma enunciativa mas no limitativa), que usted nos haga llegar se considerarán de forma
      automática como información no confidencial y podrán ser utilizadas por “Addinteli” sin tener ninguna
      obligación frente a Usted respecto a la forma en que “Addinteli” utilice dichas ideas.
    </p>
    <br>
    <h5><b>9. Leyes aplicables</b></h5>
    <p>
      Para la interpretación y cumplimiento de las presentes Condiciones, así como para la atención y
      resolución de cualquier controversia jurídica que se suscite en relación con las mismas, usted se somete
      expresamente a la legislación y competencia de los tribunales competentes de la Ciudad de México,
      México, renunciando expresamente a cualquier otro fuero que, por razón de su domicilio presente o
      futuro, o por cualquier otra causa, pudiera corresponderle.
    </p>
    <br>
    <h5><b>10. Promociones</b></h5>
    <p>
      Las promociones de Addinteli y/o de cualquiera de sus marcas, cuentan con sus propias bases, términos
      y condiciones, para adquirir alguna; el usuario deberá considerar la forma de participación, cumplir con
      la dinámica y/o requisitos en su caso para obtener el y/o los beneficios, en caso de no cumplir con los
      requisitos de la dinámica el beneficio no puede ser exigible. Todas las promociones y el uso de éstas son
      de carácter personal, e intransferible; “Addinteli” o sus filiales se reservan el derecho de otorgar los
      beneficios, los beneficios no podrán ser canjeados por dinero o equipos, de igual forma el uso y/o
      participación a cualquier promoción lo obliga a la aceptación de los presentes términos y condiciones, a
      la obligación de los Contratos de prestación de servicios, y además del Aviso de Privacidad de “Addinteli”.
    </p>
    <p>
      El usuario que actúe, de manera enunciativa más no limitativa con alevosía, ventaja, dolo, y/o mala fe al
      solicitar el servicio de telefonía y/o la adquisición de equipos, o al participar en las promociones que
      publique “Addinteli”, será considerado como fraude, será descalificado y “Addinteli” y/o sus filiales, y/o
      licenciantes podrán presentar cargos contra este. Para validar los datos del titular de la línea telefónica
      es necesario que otorguen a “Addinteli” y/o sus filiales sus datos reales. El usuario deberá consultar la fecha
      de vigencia de las promociones, en el supuesto de no estar indicada, se entiende que es hasta agotar
      existencias. Para conocer la disponibilidad de las promociones el usuario puede comunicarse a través de
      nuestros canales oficiales. Términos y Condiciones “Redes Sociales Ilimitadas, Llamadas y SMS Ilimitados”
      Ilimitado con datos topados.
    </p>
    <p>
      El uso del servicio de telefonía “Addinteli” es para uso personal y no comercial, si cuentas con un plan
      tarifario que incluye el uso de datos nacionales, y/o minutos, y/o SMS ilimitados, en relación a los datos
      navegarás con el mayor ancho de banda disponible (en función de la tecnología instalada en la zona
      de cobertura donde te encuentres y de la concentración de tráfico principalmente), hasta llegar a una
      cuota de megabytes (MB) o gigabytes (GB) determinada por la oferta comercial del plan tarifario o de
      datos que tengas contratado; para los minutos y SMS ilimitados podrás realizar llamadas y SMS hasta llegar
      a la cuota establecida del plan tarifario con el que cuentes y el cual se encuentra registrado en el IFT; si
      la actividad de la línea es inusual, “ADDINTELI” podrá suspender o cancelar unilateralmente el servicio
      después de notificar al usuario.
    </p>
    <p>
      Los planes se encuentran registrados ante el Instituto Federal de Telecomunicaciones, podrás consultar
      en la página: https://tarifas.ift.org.mx/ift_visor/
    </p>
    <h5><b>Limitación de datos</b></h5>
    <p>
      Los datos “ilimitados” asociados a cualquier tipo de Plan de Datos “Ilimitados” permiten al usuario utilizar
      la mayor velocidad de transferencia disponible. Sin embargo, los mismos datos se encuentran limitados al
      uso del servicio registrado ante el IFT.
    </p>
    <p>
      Condiciones generales de uso para datos incluidos en el límite máximo de trafico de redes sociales “rrss”.
    </p>
    <br>
    <h5><b>11. Redes sociales</b></h5>
    <p>
      Nuestros planes tarifarios incluyen el uso de datos nacionales, minutos, SMS y navegación para redes
      sociales. Con respecto a lo antes mencionado, los datos de navegación serán con el mayor ancho de
      banda disponible (en función de la tecnología instalada en la zona de cobertura donde te encuentres
      yde la concentración de tráfico principalmente), hasta llegar a una cuota de megabytes (MB) o
      gigabytes (GB) determinada por la oferta comercial del plan tarifario o de datos que tengas contratado.
    </p>
    <p>
      Nuestros planes se encuentran registrados ante el Instituto Federal de Telecomunicaciones.
    </p>
    <h5><b>Whatsapp:</b></h5>
    <p>
      a) Incluye: envío de mensajes de texto; envió de notas de voz; envió de fotos, videos y archivos; descargar
      o guardar fotos y videos; envío de contactos de la agenda; recibir notificaciones desde la aplicación;
      compartir una ubicación propia; y consultar ubicación de cualquier contacto.
    </p>
    <p>
      b) No Incluye: la carga y descarga de fotos fuera de la aplicación oficial; compartir, reproducir, cargar o
      descargar videos a través de aplicaciones distintas a la oficial; el redireccionamiento a cualquier enlace
      o URL externo a la aplicación oficial; el servicio de llamadas de voz y video llamadas; la transmisión de
      video en tiempo real; la reproducción de video en tiempo real; compartir ubicación propia o seguir una
      ubicación en tiempo real; y cualquier otra funcionalidad que no esté enlistada como incluida.
    </p>
    <h5><b>Facebook/Messenger:</b></h5>
    <p>
      a) Incluye: visualización del muro personal o de cualquier otra persona o grupo; publicación estado
      personal o el de cualquier otro usuario; publicación de fotos y videos en el muro utilizando las aplicaciones
      oficiales; guardar fotos del muro personal o compartidas por cualquier grupo o usuario; dar “me gusta” a
      alguna historia personal, de un grupo o un usuario; envió de mensajes de texto a través de Messenger;
      compartir imágenes a través de Messenger; recibir notificaciones a través de las aplicaciones oficiales de
      Facebook; y consultar la ubicación de cualquier usuario.
    </p>
    <p>
      b) No Incluye: la carga y descarga de fotos a través de aplicaciones distintas de las oficiales; la
      reproducción de videos y la funcionalidad para compartirlos desde la aplicación de Facebook o
      utilizando otras aplicaciones; el redireccionamiento a cualquier enlace o URL externo a la aplicación, aun
      cuando este haya sido compartido utilizando a través de algún estado o mensaje directo; el servicio de
      llamadas de voz y video llamadas; la transmisión de video en tiempo real; la reproducción de video en
      tiempo real; compartir una ubicación, propia en vivo o seguir ubicación de cualquier contacto en vivo; y
      cualquier otra funcionalidad no enlistada como incluida.
    </p>
    <h5><b>Instagram:</b></h5>
    <p>
      a) Incluye: visualizar la línea de tiempo personal o de terceros; publicar una foto o video; comentar sobre
      un foto o video; enviar y recibir mensajes de texto a través del buzón (“Direct”); enviar y recibir fotos o
      videos a través del buzón (“Direct”); y publicar y reproducir historias (“Stories”).
    </p>
    <p>
      b) No Incluye: la carga y descarga de fotos o videos fuera de la aplicación, aun y cuando estos hayan
      sido compartidos a través de esta; compartir fotos o videos a través de otras aplicaciones distintas a
      “Instagram” aun y cuando estos se hayan compartido a través de la aplicación.
    </p>
    <p>
      La transmisión de video en tiempo real (“Live Video Streaming”); la reproducción de video en tiempo real
      (“Live Video Streaming”) a manera de espectador; el redireccionamiento a cualquier enlace o URL
      externo a la aplicación, aun cuando este haya sido compartido utilizando a través de un mensaje,
      publicación, historia o video en tiempo real; y cualquier otra funcionalidad no enlistada como incluida.
    </p>
    <h5><b>Snapchat:</b></h5>
    <p>
      a) Incluye: visualizar “Swaps” personales y/o de terceros; publicar un “Snap”; comentar un “Snap”, enviar
      y recibir mensajes de texto a través del buzón (“Chat”); enviar y recibirfotos o video a través del buzón
      (“Chat”); y reproducir “Historias” o “Memorias”.
    </p>
    <p>
      No Incluye: la carga y descarga de fotos o videos fuera de la aplicación, aun y cuando estos hayan sido
      compartidos a través de esta; compartir fotos o videos a través de otras aplicaciones distintas a
      “Snapchat” aun y cuando estos se hayan compartido a través de la aplicación; la transmisión de video
      en tiempo real (“Live Video Streaming”); la reproducción de video en tiempo real (“Live Video Streaming”)
      a manera de espectador; el redireccionamiento a cualquier enlace o URL externo a la aplicación, aun
      cuando este haya sido compartido utilizando a través de un mensaje, publicación, historia o video en
      tiempo real; y cualquier otra funcionalidad no enlistada como incluida.
    </p>
    <h5><b>Twitter:</b></h5>
    <p>
      a) Incluye: visualizar la línea de tiempo personal o de terceros; publicar un tuit; comentar sobre un tuit; dar
      “me gusta” a un tuit; retuitear un tuit; citar un tuit; envió de mensaje directo; recepción de notificaciones;
      publicación o cargue de fotos en la línea de tiempo; descargar fotos; y compartir ubicación.
    </p>
    <p>
      No Incluye: la carga y descarga de fotos en aplicaciones distintas a la oficial; la reproducción de videos
      y la funcionalidad para compartirlos, desde la aplicación de Twitter o utilizando otras aplicaciones; el
      redireccionamiento a cualquier enlace o URL externo a la aplicación, aun cuando este haya sido
      compartido utilizando a través de la línea de tiempo o mensaje directo; la transmisión de video en tiempo
      real; la reproducción de video en tiempo real; compartir una ubicación, propia en vivo o seguir ubicación
      de cualquier contacto en vivo; y cualquier otra funcionalidad no enlistada como incluida.
    </p>
    <br>
    <h5><b>12. Modificaciones a la “Plataforma”</b></h5>
    <p>
      “Addinteli” se reserva el derecho de modificar, ajustar o corregir la “Plataforma” en cualquier momento,
      conforme lo considere conveniente, sin necesidad de avisar u obtener el permiso del usuario, por lo que
      el usuario reconoce que no podrá reclamar dichos cambios o tener derecho a una indemnización.
    </p>
    <p>
      Todos los derechos reservados a Agregadora de Inteligencia en Negocios Tecnológicos, S.A. de C.V.
    </p>
    <p>
      * Aplican restricciones.
    </p>
  </ion-card>
</ion-content>